{% extends 'layout.html' %} 
{% block body %}   

<div class="panel-body">
    <form method="get" action={{ url_for('result') }} role="form" class="text-center">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Example:  ip: 192.168.1.1; port: 22" style="color: #797979;" id="filter" name="q">
        <button type="submit" class="btn btn-inverse btn-rounded w-md waves-effect waves-light m-b-5" style="margin-top: 20px">搜索</button>
            <i class="zmdi zmdi-help-outline zmdi-hc-2x" style="position: relative" id="tips"></i>
    </div>
</form>
</div>



{% endblock %} 

